.box {
width: 1000px;
height: 500px;
position: relative;
}

.square {
    width: 50px;
    height: 50px;
    background-color: red;
position: absolute;

    animation-name: square-run;
   animation-duration: 4000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes square-run {
    0% {
    left: 0;
    top: 0;
    background-color: red;
    }

    25% {
    left: 0;
    top: 150px;
    background-color: blue;
    }

    50% {
        left: 150px;
        top: 150px; 
        background-color: green;
    }

    75% {
        left: 150px;
        top: 0px;
        background-color: yellow;
    }

    100% {
        left: 0;
        top: 0;
        background-color: red;
    }
}